# 3D Files
*.bfb
*.cubepro


# Cargo build files
**/tests/**/Cargo.lock
**/tests/**/common/
**/tests/**/target/

# Github
.github/
api/.idea/
api/build/
api/cmake-build-debug/
firmware/.idea/
firmware/build/
firmware/cmake-build-debug/
