.u-clearboth {
  clear: both;
}
.u-innerWidth {
  max-width: 1100px;
  width: 90%;
  min-width: 900px !important;
  margin: 0 auto;
}
body,
button {
  font-family: "proxima-nova", sans-serif;
}
h1 {
  font-size: 50px;
  line-height: 55px;
  font-weight: 300;
}
h2 {
  font-size: 30px;
  font-weight: bold;
}
h3 {
  font-size: 25px;
  line-height: 28px;
}
p {
  font-size: 25px;
  line-height: 35px;
  font-weight: light;
}
body,
html {
  background: #7C7A73;
}
main {
  background: #F8F4E7;
  padding-bottom: 30px;
}
header {
  border-bottom: 1px solid #D9D7CE;
  padding: 30px 0;
}
header .logo {
  width: 393px;
  height: 55px;
  background: url("/assets/img//logo@2x.png") no-repeat left center;
  background-size: contain;
  display: block;
  float: left;
}
header ul {
  float: right;
  padding-top: 15px;
}
header ul li {
  float: left;
  list-style: none;
  margin-left: 30px;
}
header ul li a,
header ul li button {
  color: #E93400;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  background: none;
  border: none;
  padding: 0;
  transition: padding 200ms, border 200ms;
  border-bottom: 3px solid transparent;
  cursor: pointer;
}
header ul li a:hover,
header ul li button:hover {
  border-bottom: 3px solid #E93400;
  padding-bottom: 5px;
}
header ul li a:focus,
header ul li button:focus {
  outline: none;
}
.Callout {
  background: url("/assets/img//kia-group@2x.png") no-repeat center bottom;
  background-size: 2204px 531px;
  height: 730px;
}
.Callout h1 {
  color: #E93400;
  max-width: 70%;
  margin: 0 auto;
  text-align: center;
  padding: 70px 0;
}
.Video {
  margin-bottom: 50px;
}
.Content p {
  color: #7C7A73;
  font-weight: 300;
  margin-bottom: 50px;
}
.Main-Left-Buttons .Button {
  width: 50%;
  float: left;
}
.Main-Left-Buttons .Button:first-child {
  padding-right: 15px;
}
.Main-Left-Buttons .Button:last-child {
  padding-left: 15px;
}
.Description {
  width: 580px;
  margin: 0 auto;
}
.Description p {
  text-align: center;
  margin-bottom: 50px;
  color: #5A5854;
}
.Buttons a {
  border: 1px solid #D9D7CE;
  display: block;
  border-radius: 4px;
  text-align: center;
  font-size: 27px;
  font-weight: bold;
  color: #7C7A73;
  padding: 170px 30px 30px 30px;
  background-color: #faf8ef;
  transition: background 300ms, border 300ms;
  text-decoration: none;
}
.Buttons a:hover {
  border: 1px solid #7C7A73;
  cursor: pointer;
  background-color: white;
}
.Button-Github {
  background: url("/assets/img//icon-github@2x.png") no-repeat center 30px;
}
.Button-Wiki {
  background: url("/assets/img//icon-wiki@2x.png") no-repeat center 50px;
}

.ContactLink {
  display: block;
  text-align: center;
  color: #7C7A73;
}

.ContactLink a {
  color: #7C7A73;
  text-decoration: none;
  border-bottom: 1px dotted #7C7A73 ;
}

.ContactLink a:hover {
  color: #E93400;
  border-bottom: 1px solid #E93400;
}
footer {
  padding: 30px 0 50px 0;
  display: block;
}
footer,
footer a {
  color: #D9D7CE;
  font-size: 14px;
  text-decoration: none;
}
footer a:hover {
  color: white;
}
.Footer-left {
  float: left;
}
.Footer-right {
  float: right;
}
